/*global*/
*{
    margin:0;
    padding:0;
}

html, body {
    background-color: #fae5d6;
    display: flex;
    flex-direction: column;
    font-family: arial;
}

p{
    line-height: 2;
}

img{
    max-width: 100%;
}

.coffeebtn{
    text-decoration: none;
    font-size: 16px;
    color:white;
    border:none;
}

h2{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

/*utilities*/
.container{
    width:70%;
    margin-left: auto;
    margin-right: auto;
}

main{
    flex: 1;
}

.btn{
    text-decoration: none;
    margin-bottom: 20px;
    text-align: center;
    padding:10px;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
    color:white;
    border:none;
}

.btn-read-more{
    background-color: black;
    width: 120px;
}

.btn-more-info{
    background-color: brown;
    width: 180px;
}

/*header*/
.header-init{
    background-image: url(./img/banner.jpg);
    background-size: cover;
    height: 350px;
    color:white;
    text-align: center;
}

.header-contact{
    height: 150px;
    background-color: black;
    color:white;
}

.title{
    font-size: 26px;
    font-weight: bold;
}

.menu-bar{
    display: flex;
    justify-content: space-around; /* horizontal alignment*/
    align-items: center; /* vertical aligment*/
    padding: 20px;
}

.menu a{
    color:white;
    text-decoration: none;
    margin-right: 20px;
}

/*main*/
.site-main{
    display: flex;
}

.blog-item{
    border-bottom:1px solid lightgray;
    margin-bottom: 30px;
}

.blog-item::after {
    content: "";
    display: block;
    border-bottom: 1px solid lightgray;
    margin-top: 10px; /* Espacio entre el contenido y la línea */
}

.courses-item{
    border-bottom: 1px solid lightgray;
    margin-bottom: 30px;
}

.courses-item::after {
    content: "";
    display: block;
    border-bottom: 1px solid lightgray;
    margin-top: 10px; /* Espacio entre el contenido y la línea */
}

.blog-container{
    width:70%;
    margin-right: 20px;
}

.courses-container{
    width:30%;
}

/*about*/
.about-container{
    display: flex;
}

.about-container-img{
    width:50%;
    margin-right: 20px;
}

.about-container-text{
    width:50%;
}

/*footer*/
footer{
    background-color: black;
    color: white;
    text-align: center;
    /* padding: 20px; */
    padding-bottom: 20px;
    width: 100%;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons-container {
    display: flex;
    justify-content: center;
    gap: 10px; /* Espaciado entre los botones */
    margin-top: 10px;
}

.btn-info{
    background-color: black;
    color: white;
    width: 120px;
}

/*contact*/
.form-container{
    display: flex;
    flex-direction: column;
}

.form {    
    background-color: #fae5d6;
    padding: 20px;
    width: 80%; /* Reduce el tamaño del formulario */
    max-width: 800px; /* Evita que sea demasiado ancho en pantallas grandes */
    margin: -350px auto 0 auto; /* Centrar el formulario */
    margin-bottom: 200px;
}

.input-container{
    display: flex;
}

label{
    display: block;
    margin: 10px 0 5px 0;
    font-weight: bold;
    color:#555555;
    width:20%;
}

input,textarea{
    width:80%;
    padding:5px;
    margin-bottom: 15px;
    border:1px solid #cccccc;
    border-radius: 5px;
}

textarea{
    height: 50px;
    resize: none;
}

.form-img {
    align-self: center;
}

/* courses */
.coursespage-container {
    display: flex;
    justify-content: space-between;  /* Espacio entre los cursos */
    flex-wrap: wrap;  /* Hace que los cursos se ajusten a nuevas filas si el espacio no es suficiente */
    gap: 20px;  /* Espacio entre los cursos */
    margin-top: 20px;  /* Margen superior */
    margin-bottom: 50px;
}

.coursespage-item {
    flex: 1 1 30%;  /* Esto asegura que cada curso ocupe aproximadamente el 30% del contenedor y se ajuste si es necesario */
    padding: 15px;
    border-radius: 8px;  /* Bordes redondeados */
    box-shadow: 0 10px 10px rgba(1, 1, 0, 0.1);  /* Sombra */
    text-align: center;  /* Alinea el contenido al centro */
    box-sizing: border-box;  /* Asegura que el padding no se salga del tamaño definido */
    min-width: 250px;  /* Evita que los cursos se hagan demasiado pequeños */
}

.coursespage-item img {
    width: 100%;  /* Hace que la imagen ocupe todo el ancho del contenedor */
    height: auto;  /* Mantiene la proporción de la imagen */
    border-radius: 8px;  /* Bordes redondeados */
    margin-bottom: 15px;  /* Espaciado debajo de la imagen */
}

